.background {
    border: 1px solid red;
    /* temp ^ */
    background-color: #DCCDC2;
    display: flex;
    position: absolute;
    height: 100vh;
    width: 30vw;
    flex-direction: column;
  }

.stream {
    flex: 1;
    display: flex;
}
.streamImg{
    object-fit: cover;
    width: 100%;
}

.profileSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
.profile {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.profileImgDiv{
    display: flex;
    width: 40%;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #B1D392;
}
.profileImg{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.propertAccess{
    display: flex;
    margin-bottom: 30%;
}