.background {
    margin: 5px;
    background-color: rgba(220, 205, 194, 0.95);
    display: flex;
    position: absolute;
    height: 99vh;
    width: 400px;
    flex-direction: column;
    border-radius: 2vh;
    overflow: hidden;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    user-select: none;
    z-index: 10;
  }

.stream {
    flex: 1;
    display: flex;
    border-radius: 1.5vh;
    overflow: hidden;
}
.streamImg{
    object-fit: cover;
    width: 100%;
}

.profileSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
.profile {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.profileImgDiv{
    display: flex;
    width: 40%;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #B1D392;
}
.profileImg{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.propertAccess{
    display: flex;
    margin-bottom: 30%;
    padding-top: 20px
}